:root {
  --accent-color: #203040;
  --set-accent-color: #f08040;
  --white-color: #fff;
}
body {
  height: 100vh;
}
a {
  text-decoration: none !important;
}
.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: var(--accent-color);
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
header a {
  color: var(--white-color);
  font-weight: bold;
  text-decoration: none;
  transition: 300ms;
}
header a:hover {
  color: var(--set-accent-color);
}
.brand a {
  font-size: 3rem;
}
footer {
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
}
